@page "/basket"
@using System.Security.Claims
@using BlazorApp1.Services.DataBase
@using BlazorApp1.Services.OrderFiles
@using BlazorApp1.Services.Orders.Models
@inject IUnitOfWork _UnitOfWork
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="basket-container">
    <h1>Carrinho</h1>
    
    <div class="basket-items">
        @if (order != null)
        {
            @foreach (var item in order.Basket.Items)
            {
                <div class="item-card" key="@item.MovieId">
                    <div class="item-header">
                        <img src="@item.MoviePosterUrl" alt="Poster do filme"/>
                        <h3 class="item-title">@item.MovieTitle</h3>
                        <span class="item-price">@(item.Price.ToString("0.00"))€</span>
                    </div>
                    <p class="item-type">@item.Type.ToString()</p>
                    <div class="quantity-controls">
                        <button class="quantity-btn" @onclick="(() => UpdateQuantity(item, -1))">-</button>
                        <span class="quantity-display">@item.Quantity</span>
                        <button class="quantity-btn" @onclick="(() => UpdateQuantity(item, 1))">+</button>
                    </div>
                </div>
            }

            <div class="total-section">
                <button class="clear-btn" @onclick="ClearBasket">Limpar Carrinho</button>
                <div class="checkout-box">
                    <p class="total-price">Total: @(order.Basket.Items.Sum(i => i.Price * i.Quantity).ToString("0.00"))€</p>
                    <button class="checkout-btn" @onclick="Pagamento">Checkout</button>
                </div>
            </div>
        }
        else
        {
            <p>Carrinho vazio</p>
        }
    </div>
</div>

@code {
    private Order  order;
    private string userId;

    protected override async Task OnInitializedAsync()
    {
        // Obter ID do utilizador autenticado
        userId = HttpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        
        if (!string.IsNullOrEmpty(userId) && int.TryParse(userId, out var userIdInt))
        {
             order = (await _UnitOfWork.Orders.GetByUserIdAsync(userIdInt)).FirstOrDefault();
        }
    }

    private async Task UpdateQuantity(BasketItem item, int change)
    {
        item.Quantity += change;
        
        if (item.Quantity < 1) item.Quantity = 1;
        
        await _UnitOfWork.Orders.UpdateAsync(order);
        StateHasChanged();
    }

    private async Task ClearBasket()
    {
        await _UnitOfWork.Orders.ClearBasketAsync(order.Id);
        order = null;
        StateHasChanged();
    }

    private async Task Pagamento()
    {

        if (order == null)
        {
            return;
        }
        else
        {
            NavigationManager.NavigateTo("/pagamentoFinal");
        }
        
    }
}