@page "/"
@using BlazorApp1.Services.Movies
@inject IConfiguration Configuration
@implements IDisposable

<PageTitle>Filmes Populares</PageTitle>

<div class="movies-container">
    <h1 class="main-title">🎬 Filmes Populares</h1>
    
    @if (_movies == null)
    {
        <div class="loading">
            <div class="spinner"></div>
            <p>Carregando filmes...</p>
        </div>
    }
    else
    {
        <div class="movies-grid">
            @foreach (var movie in _movies)
            {
                <a href="movie/@movie.Id">
                <div class="movie-card">
                    <img src="@(LinkImage + movie.PosterPath)" 
                         class="movie-poster" 
                         alt="@movie.Title">
                    
                    <div class="movie-details">
                        <h3 class="movie-title">@movie.Title</h3>
                        
                        <div class="movie-info">
                            <span class="release-date">
                                📅 @movie.ReleaseDate.ToString("dd/MM/yyyy")
                            </span>
                            <span class="rating">
                                ⭐ @movie.VoteAverage.ToString("0.0")
                            </span>
                        </div>
                        
                        <p class="movie-overview">@movie.Overview.Truncate(150)</p>
                        
                        <div class="movie-stats">
                            <span class="genre-count">
                                🏷️ @movie.GenreIds.Count gêneros
                            </span>
                            <span class="votes">
                                👍 @movie.VoteCount.ToString("N0") votos
                            </span>
                        </div>
                    </div>
                </div>
                </a>
            }
        </div>
    }
</div>

@code {
    private string ApIlink => $"{Configuration["TmdbApi:BaseUrl"]}/movie/popular";
    private string LinkImage => Configuration["TmdbApi:ImageBaseUrl"]?? string.Empty;
    private List<Film>? _movies;
    private MovieDeserializer deserializer = new MovieDeserializer();  //aqui é feito para converter JSON para objeto
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = deserializer.FetchPopularMovies(ApIlink);
            _movies = response.Results;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro: {ex.Message}");
        }
    }

    public void Dispose()
    {
        deserializer?.Dispose();
    }
}
}