@* inclui Users, Actions e Server
    gere estado dos users e servers
    PASSA CALLBACKS (SStartPressed e AddServer) -> Actions*@

@* suporta mais tipos de servidores *@
    
    @page "/"
@rendermode InteractiveServer
@using InfraSim.Services.Traffic.Classes
@using InfraSim.Services.Traffic.Interfaces
@using InfraSim.Services.Traffic.Enums
@* @inject ITrafficRouting TrafficRouting *@
@inject TrafficCoordinator TrafficCoordinator

<h3>Página Home</h3>

<div class="container">
    <div class="control-container">
        <Users UserCount="@userCounter.Counter" />
        <Actions 
            StartPressed="@(() => StartIncrementing())"
            AddCdnPressed="@(() => AddServer(ServerType.CDN))"
            AddCachePressed="@(() => AddServer(ServerType.Cache))"
            AddServerPressed="@(() => AddServer(ServerType.Server))" />
        @* <Actions 
            StartPressed="EventCallback.Factory.Create(this, StartIncrementing)"
            AddCdnPressed="EventCallback.Factory.Create(this, () => AddServer(ServerType.CDN))"
            AddCachePressed="EventCallback.Factory.Create(this, () => AddServer(ServerType.Cache))"
            AddServerPressed="EventCallback.Factory.Create(this, () => AddServer(ServerType.Server))" /> *@
    </div>
    <div class="server-container">
    @foreach (var server in servers)
        {
            <Server 
                ServerType="@server.ServerType" 
                RequestsCount="@server.RequestsCount" />
        }
    </div>
</div>

@* <input type="number" @bind="requestsCount" placeholder="Número de solicitações" />
<button @onclick="() => SendRequests(requestsCount)">Enviar Solicitações</button> *@

@code {
    private UserCounter userCounter = new UserCounter(); // Counter de users
    private List<IServer> servers = new List<IServer>(); // Lista de servidores
    private int requestsCount = 100; // Solicitações a ser enviadas
    //private int ServerCount = 0; // Contagem de servidores
    //private ITrafficRouting TrafficRouting; // Routing 

    protected override void OnInitialized()
    {
        userCounter.OnCounterChanged += StateHasChanged;
        //InitializeServers();
    }

    private async Task StartIncrementing()
    {
        await userCounter.StartIncrementing(200000, 2000, 50);
    }

    // removed the Task cause it's not async
    // if needed -> private async Task AddServer(ServerType type)
    private void AddServer(ServerType type)
    {
        IServer server = type switch
        {
            ServerType.CDN => new CDNServer(),
            ServerType.Cache => new CacheServer(),
            _ => new ServerImplementation()
        };
        servers.Add(server);
        StateHasChanged();
    }

    private void SendRequests(int requestsCount)
    {
        TrafficCoordinator.RouteTraffic(requestsCount, servers);
        StateHasChanged();
    }
}